<a href="https://colab.research.google.com/github/Lakshmimadira/Data-Science-Tutorial/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Create a DataFrame
data = {
    'Age': [23, 45, 12, 35, 46],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [70000, 80000, 15000, 50000, 90000]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
# Data manipulation
# 1. Selecting a column
print("\nAges:")
print(df['Age'])
# 2. Filtering rows
print("\nFiltered DataFrame (Age > 30):")
filtered_df = df[df['Age'] > 30]
print(filtered_df)
# 3. Adding a new column
df['Tax'] = df['Salary'] * 0.1
print("\nDataFrame with Tax column:")
print(df)
# 4. Grouping and aggregation
print("\nMean Salary by Age Group:")
print(df.groupby('Age')['Salary'].mean())
# 5. Handling missing values
df_with_nan = df.copy()
df_with_nan.loc[2, 'Salary'] = None  # Introduce a NaN value
print("\nDataFrame with NaN:")
print(df_with_nan)
print("\nDataFrame after filling NaN with median salary:")
df_with_nan['Salary'] = df_with_nan['Salary'].fillna(df_with_nan['Salary'].median())
print(df_with_nan)

DataFrame:
   Age     Name  Salary
0   23    Alice   70000
1   45      Bob   80000
2   12  Charlie   15000
3   35    David   50000
4   46      Eve   90000

Ages:
0    23
1    45
2    12
3    35
4    46
Name: Age, dtype: int64

Filtered DataFrame (Age > 30):
   Age   Name  Salary
1   45    Bob   80000
3   35  David   50000
4   46    Eve   90000

DataFrame with Tax column:
   Age     Name  Salary     Tax
0   23    Alice   70000  7000.0
1   45      Bob   80000  8000.0
2   12  Charlie   15000  1500.0
3   35    David   50000  5000.0
4   46      Eve   90000  9000.0

Mean Salary by Age Group:
Age
12    15000.0
23    70000.0
35    50000.0
45    80000.0
46    90000.0
Name: Salary, dtype: float64

DataFrame with NaN:
   Age     Name   Salary     Tax
0   23    Alice  70000.0  7000.0
1   45      Bob  80000.0  8000.0
2   12  Charlie      NaN  1500.0
3   35    David  50000.0  5000.0
4   46      Eve  90000.0  9000.0

DataFrame after filling NaN with median salary:
   Age     Name   Salary     Tax
0   23    Alice  70000.0  7000.0
1   45      Bob  80000.0  8000.0
2   12  Charlie  75000.0  1500.0
3   35    David  50000.0  5000.0
4   46      Eve  90000.0  9000.0

In [ ]:
#series

import pandas as pd
a=[1,7,2]
myvar=pd.Series(a)
print(a)
print(myvar)
print('--------')


myvar=pd.Series(a)
print(a)
print(myvar)
print('--------')
myvar2=pd.Series(a,index=["x","y","z"])
print(myvar2)
print(myvar2["y"])
print('-----------')

#dictionary
calories={"day1":420,"day2":300,"day3":390}
myvar=pd.Series(calories)
print(myvar)
print('--------')


#series generated from scalar value
series=pd.Series(5,index=[0,1,2,3])
print(series)
print('--------')

#integer series
int_series=pd.Series([1,2,3,4])
print(int_series)
print('-------')

#float series
float_series=pd.Series([1.1,2.2,3.3,4.4])
print(float_series)
print('-------')

#string series
string_series=pd.Series(['a','b','c','d'])
print(string_series)
print('-------')


#label-based indexing
data={'a':10,'b':20,'c':30}
series=pd.Series(data)
print(series['a'])
print(series['a'],['c'])
print('--------')

#boolean indexing
data=[10,20,30,40,50]
series=pd.Series(data)
#access elements greater than 25
print(series[series>25])
print('-----------')


#dataframe
data={
   'Name':['Alice','Bob','Charlie'],
   'Age':[25,30,35],
   'City':['New York','Los Angels','Chicago']
}
df=pd.DataFrame(data)
print(df)
print('--------')
#selecting columns
print(df.Name)
print(df['Name'])
print(df[['Name','City']])
print('--------')

[1, 7, 2]
0    1
1    7
2    2
dtype: int64
--------
[1, 7, 2]
0    1
1    7
2    2
dtype: int64
--------
x    1
y    7
z    2
dtype: int64
7
-----------
day1    420
day2    300
day3    390
dtype: int64
--------
0    5
1    5
2    5
3    5
dtype: int64
--------
0    1
1    2
2    3
3    4
dtype: int64
-------
0    1.1
1    2.2
2    3.3
3    4.4
dtype: float64
-------
0    a
1    b
2    c
3    d
dtype: object
-------
10
10 ['c']
--------
2    30
3    40
4    50
dtype: int64
-----------
      Name  Age        City
0    Alice   25    New York
1      Bob   30  Los Angels
2  Charlie   35     Chicago
--------
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name        City
0    Alice    New York
1      Bob  Los Angels
2  Charlie     Chicago
--------

In [ ]:
import pandas as pd
data={
   'Name':['Alice','Bob','Charlie'],
   'Age':[25,30,35],
   'City':['New York','Los Angels','Chicago']
}
df=pd.DataFrame(data)
#single row
print(df.loc[0])
print(df.iloc[0])
#multiple row
print(df.iloc[0:2])
print('------')

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
Name       Alice
Age           25
City    New York
Name: 0, dtype: object
    Name  Age        City
0  Alice   25    New York
1    Bob   30  Los Angels
------

In [ ]:
import pandas as pd
data={
   'Name':['Alice','Bob','Charlie'],
   'Age':[25,30,35],
   'City':['New York','Los Angels','Chicago']
}
df=pd.DataFrame(data)
print(df[df['Age']>25])
print('------')
print(df.loc[(df.Name=='Bob')&(df.City=='Los Angels')])

      Name  Age        City
1      Bob   30  Los Angels
2  Charlie   35     Chicago
------
  Name  Age        City
1  Bob   30  Los Angels

In [3]:
import pandas as pd
data={
   'Name':['Alice','Bob','Charlie','Alice','Bob'],
   'Age':[25,30,35,25,30],
   'City':['New York','San franscico','Chicago','Los Angels','San franscico'],
   'Salary':[70000,80000,120000,700000,800000]
}
df=pd.DataFrame(data)
print(df)
print('------')
#groupby
grouped=df.groupby('Name')
print(grouped.groups)
#sum of salaries for each group
salary_sum=grouped['Salary'].sum()
print(salary_sum)
age_mean=grouped['Age'].mean()
print(age_mean)

      Name  Age           City  Salary
0    Alice   25       New York   70000
1      Bob   30  San franscico   80000
2  Charlie   35        Chicago  120000
3    Alice   25     Los Angels  700000
4      Bob   30  San franscico  800000
------
{'Alice': [0, 3], 'Bob': [1, 4], 'Charlie': [2]}
Name
Alice      770000
Bob        880000
Charlie    120000
Name: Salary, dtype: int64
Name
Alice      25.0
Bob        30.0
Charlie    35.0
Name: Age, dtype: float64

In [ ]:
#dictionary containing employee data
import pandas as pd
data1={'Name':['jai','prince','gaurav','anju'],
       'Age':[27,24,22,32],
       'Address':['nagapur','kanpur','allahabad','kannuaj'],
       'Qualification':['msc','na','mca','phd']}
data2={'Name':['abhi','ayushi','dhiraj','hitesh'],
       'Age':[17,14,12,52],
       'Address':['nagapur','kanpur','allahabad','kannuaj'],
       'Qualification':['btech','b.a','bcom','b.hons'],
       'Salary':[1000,2000,3000,4000]}
#dictionary into dataframe
df=pd.DataFrame(data1,index=[0,1,2,3])
df1=pd.DataFrame(data2,index=[2,3,6,7])
print(df,"\n\n", df1)
res1=pd.concat([df,df1])
res1
res2=pd.concat([df,df1],axis=1,join='inner')
res2

     Name  Age    Address Qualification
0     jai   27    nagapur           msc
1  prince   24     kanpur            na
2  gaurav   22  allahabad           mca
3    anju   32    kannuaj           phd

      Name  Age    Address Qualification  Salary
2    abhi   17    nagapur         btech    1000
3  ayushi   14     kanpur           b.a    2000
6  dhiraj   12  allahabad          bcom    3000
7  hitesh   52    kannuaj        b.hons    4000

,Name,Age,Address,Qualification,Name,Age,Address,Qualification,Salary
2,gaurav,22,allahabad,mca,abhi,17,nagapur,btech,1000
3,anju,32,kannuaj,phd,ayushi,14,kanpur,b.a,2000

In [ ]:
#dictionary containing employee data
import pandas as pd
data1={'Name':['jai','prince','gaurav','anju'],
       'Age':[27,24,22,32],
       'Address':['nagapur','kanpur','allahabad','kannuaj'],
       'Qualification':['msc','na','mca','phd']}
data2={'Name':['abhi','ayushi','dhiraj','hitesh'],
       'Age':[17,14,12,52],
       'Address':['nagapur','kanpur','allahabad','kannuaj'],
       'Qualification':['btech','b.a','bcom','b.hons'],
       'Salary':[1000,2000,3000,4000]}
#dictionary into dataframe
df=pd.DataFrame(data1,index=[0,1,2,3])
df=pd.DataFrame(data2,index=[2,3,6,7])
print(df,"\n\n",df1)
res=pd.concat([df,df1],ignore_index=True)
res

     Name  Age    Address Qualification  Salary
2    abhi   17    nagapur         btech    1000
3  ayushi   14     kanpur           b.a    2000
6  dhiraj   12  allahabad          bcom    3000
7  hitesh   52    kannuaj        b.hons    4000

      Name  Age    Address Qualification  Salary
2    abhi   17    nagapur         btech    1000
3  ayushi   14     kanpur           b.a    2000
6  dhiraj   12  allahabad          bcom    3000
7  hitesh   52    kannuaj        b.hons    4000

     Name  Age    Address Qualification  Salary
0    abhi   17    nagapur         btech    1000
1  ayushi   14     kanpur           b.a    2000
2  dhiraj   12  allahabad          bcom    3000
3  hitesh   52    kannuaj        b.hons    4000
4    abhi   17    nagapur         btech    1000
5  ayushi   14     kanpur           b.a    2000
6  dhiraj   12  allahabad          bcom    3000
7  hitesh   52    kannuaj        b.hons    4000

In [ ]:
import pandas as pd
data1={'Key':['k0','k1','k2','k3'],
       'Name':['Jai','Prince','Gaurav','Anuj'],
       'Age':[27,24,22,32]}
data2={'Key':['k0','k1','k2','k3'],
       'Address':['Nagpur','Kanpur','allahabad','kannuaj'],
       'Qualification':['btech','b.a','bcom','b.horns']}
df=pd.DataFrame(data1)
df1=pd.DataFrame(data2)
print(df,"\n\n",df1)
res=pd.merge(df,df1,on='Key')
res

data1={'Key':['k0','k1','k2','k3'],
       'Key1':['k0','k1','k2','k3'],
       'Name':['Jai','Prince','Gaurav','Anuj'],
       'Age':[27,24,22,32]}
data2={'Key':['k0','k1','k2','k3'],
       'Key1':['k0','k0','k0','k0'],
       'Address':['Nagpur','Kanpur','allahabad','kannuaj'],
       'Qualification':['btech','b.a','bcom','b.horns']}
df=pd.DataFrame(data1)
df1=pd.DataFrame(data2)
print(df,"\n\n",df1)
res1=pd.merge(df,df1,on=['Key','Key1'])
res1

  Key    Name  Age
0  k0     Jai   27
1  k1  Prince   24
2  k2  Gaurav   22
3  k3    Anuj   32

   Key    Address Qualification
0  k0     Nagpur         btech
1  k1     Kanpur           b.a
2  k2  allahabad          bcom
3  k3    kannuaj       b.horns
  Key Key1    Name  Age
0  k0   k0     Jai   27
1  k1   k1  Prince   24
2  k2   k2  Gaurav   22
3  k3   k3    Anuj   32

   Key Key1    Address Qualification
0  k0   k0     Nagpur         btech
1  k1   k0     Kanpur           b.a
2  k2   k0  allahabad          bcom
3  k3   k0    kannuaj       b.horns

  Key Key1 Name  Age Address Qualification
0  k0   k0  Jai   27  Nagpur         btech